h2 {
  font-size: 1.75rem;
  text-transform: uppercase;
  color: #ad4200;
}

h4 {
  font-size: 1.25rem;
}

progress {
  width: 100%;
}

@media only screen and (min-width: 40.063em) {
  .top-bar .name h1 a {
    padding: 0;
  }
}

@media only screen and (max-width: 64.063em) {
  .top-bar-section li:not(.has-form) a:not(.button) {
    padding-left: 9px;
  }
}

/* iOS Safari zooms on search box focus without this */
input[type="search"] {
  font-size: 1rem;
}

.top-bar .has-dropdown > a {
  text-transform: uppercase;
  font-weight: bold;
}

.search-bar {
  background-color: #ad4200;
  margin-bottom: 1em;
}

input.search-terms {
  border-radius: .3em 0 0 .3em;
}

input.button.postfix
{
  border-radius: 0 .3em .3em 0;
}

div.extra-info {
  height: 2em;
  background-color: #2571a1;
  color: #fff;
  margin-bottom: 3px;
}

div.extra-info ul {
  line-height: 2em;
}

div.extra-info ul li a {
  color: #fff;
}

.extra-info .hours ul li:last-child a {
  position:relative;
  padding-left:1.5em;
}

.extra-info img {
  max-height: 1.5em;
  max-width: 1.5em;
  position: absolute;
  left: 0;
  top: 0.25em;
}

.footer {
  border-top: 1px #ccc solid;
}

/* adjust height and borders of menu dropdowns */
.dropdown li:not(.has-form) a:not(.button) {
  line-height: 40px;
}

.top-bar-section .dropdown {
  border: 1px solid #DDDCDC;
}

.top-bar-section .divider, .top-bar-section [role="separator"] {
  border-bottom: 1px solid #DDDCDC;
  border-top: 1px solid transparent;
}

.featured-classes h3 {
  display:none;
}

#featured-guide {
    padding-bottom: 15px;
}

.side-nav {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: inside;
  font-family: "Roboto Condensed", "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
}

/*--make inline and apply class for arrow bullets on Popular Links--*/
.side-nav li a:not(.button) {
  display: inline;
  color: #2571a1;
  margin: 0;
  padding: 0.4375rem 0.875rem;
}

.arrowbullet:before {
    content: "\f105";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #ad4200;
    font-size: 18px;
    padding-right: 0px;
}

.outline {
  border: solid 1px #ccc;
}

.outline .columns {
  padding: 0;
  margin-bottom: -6.6px;
}

.library-hours-date:after {
  content: "\A";
  white-space: pre;
}

/* slick-dots are not centered because it inherits a margin-left from Foundation ul selector. Reset it. */
.slick-dots {
  margin-left: 0;
}

.news-image {
  margin: auto;
}

.news-text {
  padding: 15px;
  font-size: 1.25rem;
}

@media only screen and (min-width: 40.063em) {
  .news-text {
    height: 12rem;
  }
}

@media only screen and (max-width: 64.063em) {
  .news-text {
    height: 7rem;
  }
  .news-more .button {
    margin-bottom: 0;
  }
}
/* hide details for items pulled from library calendar */
.s-lc-ea-date {
display: none;
}

.shadow {
  -webkit-box-shadow: 3px 3px 4px #999;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 4px #999;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 4px #999;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.with-pinned-button {
  padding-bottom: 3em;
}

.bottom {
  position: absolute;
  bottom: 1em;
}

.bottom.text-center {
  width: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.bottom .button {
  margin-left: 30%;
  margin-right: 30%;
}

.last-image {
  padding-bottom: 1.25em;
}

table.responsive {
    border: 1px solid #ccc;
    width: 100%;
    margin: 5px 0px 15px 0px;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
  }

table.responsive tr {
  border: 1px solid #ddd;
  padding: 5px;
}

table.responsive th, table.responsive td {
  padding: 10px;
  text-align: center;
}

table.responsive th {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}
table.responsive td:first-child {
  border-bottom: 0;
  font-weight: bold;
}
  
@media only screen and (max-width: 40em) {

  table.responsive {
    border: 0;
  }

  table.responsive thead {
    display: none;
  }

  table.responsive tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #ddd;
  }

  table.responsive td {
    display: block;
    text-align: right;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
  }
  
  table.responsive td:first-child {
    border-bottom: 0;
    font-weight: bold;
  }

  table.responsive td:last-child {
    border-bottom: 0;
  }

  table.responsive td:before {
    content: attr(data-label);
    float: left;
    text-transform: none;
    font-weight: bold;
  }
}