<div id="news">
	<div class="slick" id="news-carousel">
		<div class="row collapse outline" id="newsItem_0">
			<a href="" id="newsLink_0">
				<div class="medium-6 large-8 columns">
					<img src="/images/placeholder_480x270.gif" class="news-image" width="480" height="270" alt="" id="newsImage_0">
				</div>
				<div class="medium-6 large-4 columns">
					<div class="small-text-center news-text" id="newsTitle_0">
					</div>
					<p class="small-text-center news-more show-for-medium-up"><span class="button small radius shadow">Learn More</span></p>
				</div>
			</a>
		</div>
		<div class="row collapse outline hide" id="newsItem_1">
			<a href="" id="newsLink_1">
				<div class="medium-6 large-8 columns">
					<img src="/images/placeholder_480x270.gif" class="news-image" width="480" height="270" alt="" id="newsImage_1">
				</div>
				<div class="medium-6 large-4 columns">
					<div class="small-text-center news-text" id="newsTitle_1">
					</div>
					<p class="small-text-center news-more show-for-medium-up"><span class="button small radius shadow">Learn More</span></p>
				</div>
			</a>
		</div>
		<div class="row collapse outline hide" id="newsItem_2">
			<a href="" id="newsLink_2">
				<div class="medium-6 large-8 columns">
					<img src="/images/placeholder_480x270.gif" class="news-image" width="480" height="270" alt="" id="newsImage_2">
				</div>
				<div class="medium-6 large-4 columns">
					<div class="small-text-center news-text" id="newsTitle_2">
					</div>
					<p class="small-text-center news-more show-for-medium-up"><span class="button small radius shadow">Learn More</span></p>
				</div>
			</a>
		</div>
		<div class="row collapse outline hide" id="newsItem_3">
			<a href="" id="newsLink_3">
				<div class="medium-6 large-8 columns">
					<img src="/images/placeholder_480x270.gif" class="news-image" width="480" height="270" alt="" id="newsImage_3">
				</div>
				<div class="medium-6 large-4 columns">
					<div class="small-text-center news-text" id="newsTitle_3">
					</div>
					<p class="small-text-center news-more show-for-medium-up"><span class="button small radius shadow">Learn More</span></p>
				</div>
			</a>
		</div>
	</div>
</div>
