<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>{% if page.title %}{{page.title}} | {% endif %}UCSF Library</title>
  <link type="text/css" rel="stylesheet" media="all" href="/styles/main.css" />
  <script src="/scripts/main.js"></script>
  <script>
  jQuery.extend(Drupal.settings, { "basePath": "/", "nice_menus_options": { "delay": "800", "speed": "fast" }, "googleanalytics": { "trackOutgoing": 1, "trackMailto": 1, "trackDownload": 1, "trackDownloadExtensions": "7z|aac|arc|arj|asf|asx|avi|bin|csv|doc|exe|flv|gif|gz|gzip|hqx|jar|jpe?g|js|mp(2|3|4|e?g)|mov(ie)?|msi|msp|pdf|phps|png|ppt|qtm?|ra(m|r)?|sea|sit|tar|tgz|torrent|txt|wav|wma|wmv|wpd|xls|xml|z|zip" } });
  </script>
</head>

<body class="front not-logged-in no-sidebars page-panels">

  <div id="skip-nav"><a href="#content">Skip navigation</a></div>
  <div id="page-wrapper">
    <div id="page">
      <div id="header">
        <div class="section clearfix">
          <a href="/" title="UCSF Library" id="logo"><img src="https://www.library.ucsf.edu/sites/all/themes/ucsf_theme/logo.png" class="logo" alt="UCSF Library" /></a>
          <img id="logo-for-printing" src="https://www.library.ucsf.edu/sites/all/themes/ucsf_theme/images/UCSF-Library-logo-for-print.gif" alt="UCSF Library" />
          <!-- SECONDARY LINKS -->
          <h2 class="element-invisible">Secondary menu</h2>
          <ul id="secondary-menu" class="links clearfix">
            <li class="first"><a href="https://ucsf.idm.oclc.org/login?url=http://www.ncbi.nlm.nih.gov/pubmed?tool=cdl&amp;otool=cdlotool" title="PUBMED@UCSF">PubMed@UCSF</a></li>
            <li class="last"><a href="/askus" title="Ask Us">Ask Us</a></li>
          </ul><!-- SECONDARY LINKS -->

          <div id="navigation">
            <div class="section clearfix">

              <!-- begin menus.html in templates/includes in our drupal theme -->
              <ul class="nice-menu nice-menu-down" id="nice-menu-0">
                <li><a href="/find">Search & Find</a>
                  <ul>
                    <li><a href="https://ucsf.idm.oclc.org/login?url=http://www.ncbi.nlm.nih.gov/pubmed?tool=cdl&amp;otool=cdlotool">PubMed@UCSF</a></li>
                    <li><a href="/collections/journals">Journals</a></li>
                    <li><a href="/db">Databases</a></li>
                    <li><a href="http://guides.ucsf.edu/">Guides by Topic</a></li>
                    <li><a href="http://ucsfcat.library.ucsf.edu/">UCSF Library Catalog</a></li>
                    <li><a href="https://ucsf.idm.oclc.org/login?url=http://ucsf.worldcat.org/">UC-wide Catalog (Melvyl)</a></li>
                    <li><a href="/collections/reserves">Course Reserves</a></li>
                    <li><a href="/collections/archives">Archives &amp; Online Collections</a></li>
                  </ul>
                </li>
                <li><a href="/use">Use the Library</a>
                  <ul>
                    <li><a href="/services/spaces">Study Spaces</a></li>
                    <li><a href="/services/computing">Computers, Equipment, Help</a></li>
                    <li><a href="/services/borrowing">Borrow, Renew, Request</a></li>
                    <li><a href="/print-scan-copy">Print, Scan, Copy</a></li>
                    <li><a href="/services/browsertools">Apps &amp; Widgets</a></li>
                    <li><a href="/visit/parnassus">Parnassus location</a></li>
                    <li><a href="/visit/missionbay">Mission Bay location</a></li>
                  </ul>
                </li>
                <li><a href="/research">Research Support</a>
                  <ul>
                    <li><a href="/services/scholpub">Open Access &amp; Publishing</a></li>
                    <li><a href="/help/citemgmt">Citation Management</a></li>
                    <li><a href="/bioinformatics">Bioinformatics Support</a></li>
                    <li><a href="/help/classes">Classes &amp; Workshops</a></li>
                    <li><a href="/help/consulting">Meet with an Expert</a></li>
                  </ul>
                </li>
                <li><a href="/course">Course Support</a>
                  <ul>
                    <li><a href="https://courses.ucsf.edu/">CLE</a></li>
                    <li><a href="/help/classes">Classes &amp; Workshops</a></li>
                    <li><a href="/help/consulting">Meet with an Expert</a></li>
                    <li><a href="/collections/reserves">Course Reserves</a></li>
                    <li><a href="/services/learningtech">Learning Technologies</a></li>
                    <li><a href="/faculty">Faculty Support</a></li>
                  </ul>
                </li>
              </ul>
              <!-- end menus.html -->

            </div>
          </div>
        </div>
      </div> <!-- /.section, /#header -->

      <div id="search-bar" class="clear-block">
        <div class="block block-ucsf_quicksearch" id="block-ucsf_quicksearch-ucsf_quicksearch_block">
          <div class="block-inner">
            <div class="content">
              <form action="/quicksearch"  accept-charset="UTF-8" method="post" id="ucsf-quicksearch-form">
                <div><label for="edit-quicksearch-keywords">QUICKSEARCH</label>
                  <div class="form-item" id="edit-quicksearch-keywords-wrapper">
                    <input type="text" maxlength="128" name="quicksearch_keywords" id="edit-quicksearch-keywords"  size="25" value="" class="form-text" />
                  </div>
                  <input type="submit" name="op" id="edit-submit" value="Go"  class="form-submit" />
                  <input type="hidden" name="form_id" id="edit-ucsf-quicksearch-form" value="ucsf_quicksearch_form"  />

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div id="main-wrapper">



        {{content}}


      </div>
      <div id="footer">
        <div class="section">
          <div id="footer-message">
            <div class="footer-info">
              <a href="/about">About the Library</a> | <a href="/contact">Contact Us</a>
            </div>
            <p id="socialicons">
              <a href="http://www.library.ucsf.edu/news/all/feed" title="RSS"><span title="News" id="news-social-icon"></span></a>
              <a href="http://www.zazzle.com/ucsflibrary" title="Zazzle"><span title="UCSF Library merchandise" id="merch-social-icon"></span></a>
              <a href="http://twitter.com/ucsf_library" title="Twitter"><span title="Twitter" id="twitter-social-icon"></span></a>
              <a href="http://www.facebook.com/ucsflibrary" title="Facebook"><span title="Facebook" id="facebook-social-icon"></span></a>
            </p>
          </div>
        </div>
      </div> <!-- /#footer -->

    </div>
  </div> <!-- /#page-wrapper -->
  <script>
  Drupal.behaviors.tableHeader = function(){};
  </script>
  <script>
  (function ($) {
    if ($('#api_hours_today_iid138_lid0').length) {
      Drupal.behaviors.ucsfLibraryHours = function(context) {
        var externalScript = $('<script>').attr('src', 'https://api.libcal.com/api_hours_today.php?iid=138&lid=0&format=js&context=object');
        $('body').append(externalScript);
      }
    }
  }(jQuery));
  </script>
  <script type="text/javascript">
  (function () {
    Drupal.behaviors.ucsfLibraryOfNote = function(context) {
            // Hide pane in case apis.ucsf.edu is down or IE8 is weird
            var pane = document.getElementById('featured-guide-pane');
            if (pane) {
              pane.setAttribute('style', 'visibility:hidden');
            }
            var script = document.createElement('script');
            script.src = 'https://apis.ucsf.edu/jsapi?library';
            document.body.appendChild(script);

            var getGuides = function () {
              var failure = function () {
              };

              var success = function (result) {
                var guides = result.guides;
                if (guides) {
                  var randomGuideIndex = Math.floor(Math.random() * guides.length);
                  var randomGuide = guides[randomGuideIndex];
                  if (randomGuide) {
                    var guides_results = document.getElementById('featured-guide');
                    if (guides_results) {
                      var textContent;
                      if ("textContent" in guides_results) {
                        textContent = "textContent";
                      } else {
                        textContent = "innerText";
                      }
                      var a = document.createElement('a');
                      a.href = randomGuide.href;
                      a[textContent] = randomGuide.title;
                      guides_results.appendChild(a);

                      var textNode = document.createTextNode(' - ' + randomGuide.desc);
                      guides_results.appendChild(textNode);
                    }
                  }
                } else {
                  failure();
                }
              };

              UCSF.Library.guides({}, success, failure);
              if (pane) {
                pane.removeAttribute('style');
              }
            }

            if (window.addEventListener) {
              window.addEventListener("load", getGuides, false);
            } else if (window.attachEvent) {
              window.attachEvent("onload", getGuides);
            }
          }
        }());
  </script>
</body>
</html>
