<!DOCTYPE html>
<!--[if gt IE 8]><!-->
<html class="not-ie8" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
<!--<![endif]-->

<!--[if lte IE 8]> <html class="ie8" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr"> <![endif]-->


<head>
  <meta charset="utf-8" />
  <title>{% if page.title %}{{page.title}} | {% endif %}UCSF Library</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="all" href="/styles/main.css" />
  <link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
  <script src="/scripts/main.js"></script>
  <script>
  jQuery.extend(Drupal.settings, { "basePath": "/", "nice_menus_options": { "delay": "800", "speed": "fast" }, "googleanalytics": { "trackOutgoing": 1, "trackMailto": 1, "trackDownload": 1, "trackDownloadExtensions": "7z|aac|arc|arj|asf|asx|avi|bin|csv|doc|exe|flv|gif|gz|gzip|hqx|jar|jpe?g|js|mp(2|3|4|e?g)|mov(ie)?|msi|msp|pdf|phps|png|ppt|qtm?|ra(m|r)?|sea|sit|tar|tgz|torrent|txt|wav|wma|wmv|wpd|xls|xml|z|zip" } });
  </script>
</head>

<body class="front not-logged-in no-sidebars page-panels">

  <div id="page-wrapper">
    <div id="page">
      <div class="main-header">

        <a href="/" title="UCSF Library" id="logo"><img src="http://library.ucsf.edu/sites/all/themes/ucsf_theme/logo.svg?" onerror="this.src='http://library.ucsf.edu/sites/all/themes/ucsf_theme/logo.png?'" class="logo" alt="UCSF Library" /></a>
        <img id="logo-for-printing" src="https://www.library.ucsf.edu/sites/all/themes/ucsf_theme/images/UCSF-Library-logo-for-print.gif" alt="UCSF Library" />
        <div id="navigation">

          <!-- begin menus.html in templates/includes in our drupal theme -->
          <ul class="nice-menu nice-menu-down" id="nice-menu-0">
            <li><a href="/find">Search & Find</a>
              <ul>
                <li><a href="https://ucsf.idm.oclc.org/login?url=http://www.ncbi.nlm.nih.gov/pubmed?tool=cdl&amp;otool=cdlotool">PubMed@UCSF</a></li>
                <li><a href="/collections/journals">Journals</a></li>
                <li><a href="/db">Databases</a></li>
                <li><a href="http://guides.ucsf.edu/">Guides by Topic</a></li>
                <li><a href="http://ucsfcat.library.ucsf.edu/">UCSF Library Catalog</a></li>
                <li><a href="https://ucsf.idm.oclc.org/login?url=http://ucsf.worldcat.org/">UC-wide Catalog (Melvyl)</a></li>
                <li><a href="/collections/reserves">Course Reserves</a></li>
                <li><a href="/collections/archives">Archives &amp; Online Collections</a></li>
              </ul>
            </li>
            <li><a href="/use">Use the Library</a>
              <ul>
                <li><a href="/services/spaces">Study Spaces</a></li>
                <li><a href="/services/computing">Computers, Equipment, Help</a></li>
                <li><a href="/services/borrowing">Borrow, Renew, Request</a></li>
                <li><a href="/print-scan-copy">Print, Scan, Copy</a></li>
                <li><a href="/services/browsertools">Apps &amp; Widgets</a></li>
                <li><a href="/visit/parnassus">Parnassus location</a></li>
                <li><a href="/visit/missionbay">Mission Bay location</a></li>
                <li><a href="/visit/missionhall">Mission Bay Hub location</a></li>
              </ul>
            </li>
            <li><a href="/research">Research Support</a>
              <ul>
                <li><a href="/services/scholpub">Open Access &amp; Publishing</a></li>
                <li><a href="/help/citemgmt">Citation Management</a></li>
                <li><a href="/bioinformatics">Bioinformatics Support</a></li>
                <li><a href="/data-management">Data Management</a></li>
                <li><a href="/help/classes">Classes &amp; Workshops</a></li>
                <li><a href="/help/consulting">Meet with an Expert</a></li>
              </ul>
            </li>
            <li><a href="/course">Course Support</a>
              <ul>
                <li><a href="https://courses.ucsf.edu/">CLE</a></li>
                <li><a href="/help/classes">Classes &amp; Workshops</a></li>
                <li><a href="/help/consulting">Meet with an Expert</a></li>
                <li><a href="/collections/reserves">Course Reserves</a></li>
                <li><a href="/services/learningtech">Learning Technologies</a></li>
                <li><a href="/faculty">Faculty Support</a></li>
              </ul>
            </li>
          </ul>
          <!-- end menus.html -->

        </div>
      </div>

      <div class="block extra-info">
        <div class="hours" id="header-hours">
          <ul>
            <li><a href="/locations/hours"><img src="http://library.ucsf.edu/sites/all/themes/ucsf_theme/images/hours_clock.png" alt="">&nbsp;HOURS</a></li>
          </ul>
        </div>
        <ul class="extra-links">
          <li><a href="/services/spaces">Study Spaces</a></li>
          <li><a href="/askus" title="Ask Us">Ask Us</a></li>
        </ul>
      </div>

      <div class="row has-form search-bar">
<!--[if lt IE 9]>
        <div style="padding: 20px 0 0 17px;">
          <form action="/quicksearch" method="post">
            <input type="search" style="width: 50%; display: inline-block" title="Search terms">
            <input type="submit" style="display: inline-block" value="Search">
          </form>
        </div>
<![endif]-->
<!--[if (IE 9)|!(IE)]><!-->
        <div class="large-12 columns">
          <form class="search-form">
            <div class="row collapse">
              <div class="large-8 small-9 columns">
                <input type="search" title="Search terms" class="search-terms" placeholder="Find articles, journals, books and more" autofocus>
              </div>
              <div class="large-4 small-3 columns">
                <input type="submit" class="button postfix" value="Search">
              </div>
            </div>
          </form>
        </div>
<!--<![endif]-->
      </div>

      <div id="main-wrapper">

        {{content}}

      </div>
      <div id="footer">
        <div class="section">
          <div id="footer-message">
            <div class="footer-info">
              <a href="/about">About the Library</a> | <a href="/contact">Contact Us</a>
            </div>
            <p id="socialicons">
              <a href="http://www.library.ucsf.edu/news/all/feed" title="RSS"><span title="News" id="news-social-icon"></span></a>
              <a href="http://www.zazzle.com/ucsflibrary" title="Zazzle"><span title="UCSF Library merchandise" id="merch-social-icon"></span></a>
              <a href="http://twitter.com/ucsf_library" title="Twitter"><span title="Twitter" id="twitter-social-icon"></span></a>
              <a href="http://www.facebook.com/ucsflibrary" title="Facebook"><span title="Facebook" id="facebook-social-icon"></span></a>
            </p>
          </div>
        </div>
      </div> <!-- /#footer -->

    </div>
  </div> <!-- /#page-wrapper -->
  <script src="https://apis.ucsf.edu/jsapi?library"></script>
  <script src="/slick/slick.min.js"></script>
  <script>
  Drupal.behaviors.tableHeader = function(){};
  </script>
  <script>
  (function ($) {
    if ($('#api_hours_today_iid138_lid0').length) {
      Drupal.behaviors.ucsfLibraryHoursPane = function(context) {
        var externalScript = $('<script>').attr('src', 'https://api.libcal.com/api_hours_today.php?iid=138&lid=0&format=js&context=object');
        $('body').append(externalScript);
      }
    }
  }(jQuery));
  </script>
  <script>
    (function () {
      Drupal.behaviors.ucsfLibraryHours = function() {
        var getHours = function () {
          var failure = function () {
          };

          var success = function (result) {
            var prependHours = function (id, label, className, url) {
              var hours = locations[id];
              if (hours) {
                var hoursText = hours[0].text.replace(/[^\w\s:-]/,'');
                var a = $('<a>').attr('href', url).append(label + ': ' + hoursText);
                $('#header-hours ul').prepend(
                  $('<li>').addClass(className).append(a)
                );
              }
            };

            var locations = result.locations;
            if (locations) {
              prependHours('missionBayHub', 'MB Hub', 'show-for-large', 'http://www.library.ucsf.edu/visit/parnassus');
              prependHours('missionBay', 'MB Library', '', 'http://www.library.ucsf.edu/visit/missionbay');
              prependHours('parnassus', 'Parnassus', '', 'http://www.library.ucsf.edu/visit/missionhall');
              $('#header-hours ul').prepend('<li><a href="http://www.library.ucsf.edu/visit/hours">Today:</a></li>');
            }
          };

          UCSF.Library.hours({}, success, failure);
        }

        if (window.addEventListener) {
          window.addEventListener('load', getHours, false);
        } else if (window.attachEvent) {
          window.attachEvent('onload', getHours);
        }
      };

      Drupal.behaviors.ucsfLibraryOfNote = function(context) {
        // Hide pane in case apis.ucsf.edu is down or IE8 is weird
        var pane = document.getElementById('featured-guide-pane');
        if (pane) {
          pane.setAttribute('style', 'visibility:hidden');
        }

        var getGuides = function () {
          var failure = function () {
          };

          var success = function (result) {
            var guides = result.guides;
            if (guides) {
              var randomGuideIndex = Math.floor(Math.random() * guides.length);
              var randomGuide = guides[randomGuideIndex];
              if (randomGuide) {
                var guides_results = document.getElementById('featured-guide');
                if (guides_results) {
                  var textContent;
                  if ("textContent" in guides_results) {
                    textContent = "textContent";
                  } else {
                    textContent = "innerText";
                  }
                  var a = document.createElement('a');
                  a.href = randomGuide.href;
                  a[textContent] = randomGuide.title;
                  guides_results.appendChild(a);

                  var textNode = document.createTextNode(' - ' + randomGuide.desc);
                  guides_results.appendChild(textNode);
                }
              }
            } else {
              failure();
            }
          };

          UCSF.Library.guides({}, success, failure);
          if (pane) {
            pane.removeAttribute('style');
          }
        }

        if (window.addEventListener) {
          window.addEventListener("load", getGuides, false);
        } else if (window.attachEvent) {
          window.attachEvent("onload", getGuides);
        }
      };

      Drupal.behaviors.ucsfLibraryNews = function () {
        var container = $('#news-carousel');
        if (container.length === 0) {
          return;
        }

        var fetchNews = function () {
          var initialize = function () {
            var feed = new google.feeds.Feed("https://news.library.ucsf.edu/feed/");
            feed.load(function(result) {
              if (!result.error) {
                // Drupal legacy DOM disaster!
                var newsItems = $('<div class="inside"><div class="panel-pane  news-item-landing first last no-separator"><div class="block-inner"><div class="content"><div class="news-items-section"><div class="view view-news-for-panels view-id-news_for_panels view-display-id-default view-dom-id-2 view-news-for-panels view-id-news_for_panels view-display-id-default view-dom-id-2"><div class="view-content"><div class="item-list"><div class="slick">');
                var carouselContainer = newsItems.find('.slick');
                var entry;
                var newsItem;
                var newsMeat;
                var newsLink;
                var newsImage;
                for (var i = 0; i < result.feed.entries.length; i++) {
                  entry = result.feed.entries[i];
                  newsItem = $("<div>").addClass("news-flash");
                  newsMeat = $('<div class="news-content-wrap"><div class="content"><h2>');
                  newsMeat.find('h2').text(entry.title);
                  newsImage = $(entry.content).find('img');
                  newsLink = $('<a>').attr('href', entry.link);
                  newsLink.append(newsImage);
                  newsLink.append(newsMeat);
                  newsItem.append(newsLink);
                  carouselContainer.append(newsItem);
                }

                container.empty();
                container.append(newsItems);

                carouselContainer.slick({
                  autoplay: true,
                  centerMode: true,
                  variableWidth: true
                });
              }
            });
          };
          google.load("feeds", "1", {nocss: true, callback: initialize});
        };

        if (typeof google === 'object') {
          return fetchNews();
        }

        $.getScript('https://www.google.com/jsapi', fetchNews);
      };
    }());

    $('.search-form').each(function (index, elem) {
      elem.onsubmit = function (event) {
        event.preventDefault ? event.preventDefault() : event.returnValue = false;
        var terms = this.querySelector('.search-terms').value;
        window.location = 'http://search.library.ucsf.edu/#' + encodeURIComponent(terms);
      }
    });
  </script>
</body>
</html>
