.panel .panel-two-thirds-column .col-right,
.panel .panel-three-column .panel-col-first,
.panel .panel-three-column .panel-col-second,
.panel .panel-three-column .panel-col-third {
  clear: both;
  float: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  width: 597px;
}

.block-inner, .panel-three-column .panel-half-column .panel-pane {
  width: 597px;
  display: block;
}

#sidebar-right .block-inner {
  width: 206px;
}

.panel .panel-two-thirds-column .col-left {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.panel .panel-col-third {
  clear:both;
}